body{
  color: white;
  background-color: rgb(19,19,19);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
  margin-top: 32px;
}

.heading{
  display: inline-block;
  font-size: 48px;
  color: rgb(150,200,150);
  text-shadow: 0px 0px 20px rgba(150,200,150,0.6);
  vertical-align: top;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
}

input{
  background: rgba(255,255,255,0.3);
  box-shadow: 0px 0px 20px rgba(255,255,255,0.3);
  text-shadow: 0px 0px 5px rgba(255,255,255,0.3);
  color: white;
  font-size: 32px;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

button{
  border: 0;
  color: rgb(19,19,19);;
  background: rgba(200,255,200,0.7);
  box-shadow: 0px 0px 20px rgba(200,255,200,0.7);
  text-shadow: 0px 0px 5px rgba(19,19,19,0.3);
  font-size: 32px;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  margin-top: 16px;
}

.add{
  display: inline-block;
  text-shadow: 0px 0px 5px white;
  font-size: 32px;
  font-weight: bolder;
  padding-left: 20px;
  padding-right: 50px;
}

.score{
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 6%;
  font-weight: bolder;
  font-size: 28px;
  background-color: rgba(255,255,255,0.05);
  border-radius: 5px;
  margin-left: 0.5%;
  margin-right: 1.5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.player{
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 28px;
  width: 15%;
  background-color: rgba(255,255,255,0.2);
  border-radius: 5px;
  margin-left: 1.5%;
  margin-right: 0.5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.player-zoomed {
  background-color: rgba(200,255,100,0.6);
  box-shadow: 0px 0px 20px rgba(200,255,100,0.6);
}

.no-display{
  display: none;
}

.board{
  float: left;
  width: 4%;
  margin: 0.5%;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.1);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.board:hover{
  box-shadow: 0px 0px 10px rgba(255,255,255,0.2);
}

.player0{
  background-color: rgba(195,35,40,0.8);
  box-shadow: 0px 0px 20px rgba(195,35,40,0.8);
}

.player1{
  background-color: rgba(253,182,50,0.8);
  box-shadow: 0px 0px 20px rgba(253,182,50,0.8);
}

.player2{
  background-color: rgba(2,120,120,0.8);
  box-shadow: 0px 0px 20px rgba(2,120,120,0.8);
}

.player3{
  background-color: rgba(178,72,106,0.8);
  box-shadow: 0px 0px 20px rgba(178,72,106,0.8);
}

.detail{
  float: left;
  font-size: 20px;
  width: 15%;
  margin: 0.8%;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 5px;
  background-color: black;
}

.detail:hover{
  box-shadow: 0px 0px 10px rgba(255,255,255,0.5);
}

.snake{
  background: url("http://media.tumblr.com/bf24c3cd4a9173e67477a333c4315535/tumblr_inline_mmq1mzXzGb1roozkr.gif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
  box-shadow: 0px 0px 0px transparent;
  text-shadow: 0px 0px 0px transparent;

}

.ladder{
  /*background-color: rgba(203,255,202,0.4);*/
  background: url("https://66.media.tumblr.com/3cc7ed1cc36e840da6297d85756a716a/tumblr_n7t5n1lzJQ1roi79do1_500.gif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
  box-shadow: 0px 0px 0px transparent;
  text-shadow: 0px 0px 0px transparent;
}

.pin{
  background: url("http://emojipedia-us.s3.amazonaws.com/cache/c5/1f/c51f0caacbf8fa9d8c5fa9d163657f62.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
  box-shadow: 0px 0px 0px transparent;
  text-shadow: 0px 0px 0px transparent;
}

.winner{
  text-align: center;
  padding-top: 128px;
  font-size: 64px;
}