/* CSS declarations go here */

body{
  color: white;
  background-color: rgb(19,19,19);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
  margin-top: 32px;
}

.heading{
      display: inline-block;
  font-size: 48px;
  color: rgb(150,200,150);
  vertical-align: top;
  text-align: center;
}

form{ 
  margin-top: 16px;
}

input{
  background: rgba(255,255,255,0.3);
  font-size: 32px;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  margin: 1px;
}

button{
  border: 0;
  background: rgba(200,255,200,0.7);
  font-size: 32px;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}

.board{
  float: left;
  width: 4%;
  margin: 0.5%;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.1);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.board:hover{
  background-color: rgba(255,255,255,0.4);
}

.add{
      display: inline-block;
      font-size: 32px;
      font-weight: bolder;
}

.wrapper{
  clear: left;
  background-color: black;
}

.score{
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 6%;
  font-weight: bolder;
  font-size: 28px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 5px;
  margin-left: 0.5%;
  margin-right: 1.5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.player{
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 28px;
  width: 15%;
  background-color: rgba(255,255,255,0.2);
  border-radius: 5px;
  margin-left: 1.5%;
  margin-right: 0.5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.player-zoomed {
  background-color: rgba(200,255,100,0.6);
}

.player0{
  background-color: rgba(195,35,40,0.8);
}
.player1{
  background-color: rgba(253,182,50,0.8);
}
.player2{
  background-color: rgba(2,120,120,0.8);
}
.player3{
  background-color: rgba(128,22,56,0.8);
}

.no-display{
  display: none;
}

.winner{
  text-align: center;
  padding-top: 128px;
  font-size: 64px;
}

.detail{
  float: left;
  width: 15%;
  margin: 0.8%;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.4);
}